h1
{
  color: white;
  text-align: center;
}


.form{
  background-color: #0f4c75;
  border: 5px solid white;
  height: 275px;
  width:750px;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}


p{
  color: white;
  font-size: 1.3rem;
}
